

.tweet-container{
    display: flex;
    flex-direction: column;
    border: 1px solid #1c1c1c;
    border-radius: 20px;
    overflow: hidden;
    margin-bottom:20px;
}








.tweet-user-info{
    display: flex;
    margin-left: 20px;
    margin-top:10px;
    
    align-items: center;
}


.tweet-user-name-container{
   
    color: #fff;
    margin-left: 10px;
    
}

.tweet-user-fullname{
    font-size: 10px;
}
.tweet-user-username{
    font-size:8px;
}

.tweet-user-profile{
    width:30px;
    height:30px;
    /* background-image: url("/assets/VNl8fYo1_400x400.jpg"); */
    border-radius: 50%;
    border:1px solid #1c1c1c;
    background-position: center;
    background-size: cover;
}









.tweet-images-container,.tweet-video-container{
    height:200px; 
    /* background-color: brown; */
    /* padding: 5px; */
    margin: 20px;
   
    /* background-color: bisque; */
    /* margin: 10px; */
    border: 1px solid #1c1c1c;
    border-radius: 20px;

    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
}
.tweet-video-container video{
    height: 100%;
    width: 100%;
}


.tweet-image{
    /*  */
    flex-basis: 50%;
    background-size:cover;
    background-position: center;
    
    flex-grow: 1;
}


.tweet-text-container{
    padding-top: 10px;
    margin-top: 0;
    margin-left: 20px;
    margin-right: 20px;
    font-size: 15px;
    color: rgba(255,255,255,0.74);
}


.tweet-date-container{
    font-size: 13px;
    color: #47525d;
    margin: 15px;
    margin-bottom: 5px;
}


